In [1]:
from sklearn.model_selection import StratifiedKFold, train_test_split
import pandas as pd
from sklearn.svm import LinearSVC
pd.set_option('display.max_columns', 100)
import os
import seaborn as sns
sns.set()
import numpy as np
from sklearn.ensemble import VotingClassifier, RandomForestClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
plt.rcParams['figure.figsize'] = 8, 5
plt.style.use("fivethirtyeight")
# for dirname, _, filenames in os.walk('Top-Up_Loan_Up-Sell_Prediction'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
train_Data = pd.read_csv('../Data/train_Data.csv')
train_bureau = pd.read_csv('../Data/train_bureau.csv')
data_dict = pd.read_csv('../Data/data_dict.csv')

In [3]:
test_Data = pd.read_csv('../Data/test_Data.csv')
test_bureau = pd.read_csv('../Data/test_bureau.csv')

In [4]:
print("Check Training Data Shape")
print(train_Data.shape)
print(train_bureau.shape)

Check Training Data Shape
(128655, 26)
(560844, 25)

In [5]:
print("Check Testing Data Shape")
print(test_Data.shape)
print(test_bureau.shape)

Check Testing Data Shape
(14745, 25)
(64019, 25)

In [6]:
print("Merge both training datasets")
train_df = pd.merge(train_bureau,train_Data,on='ID',how="left")

Merge both training datasets

In [7]:
print("Check shape after merging both datasets")
print(train_df.shape)

Check shape after merging both datasets
(560844, 50)

In [8]:
train_df.drop_duplicates(inplace=True)
print("Check shape after dropping duplicate values.")
print(train_df.shape)

Check shape after dropping duplicate values.
(556980, 50)

In [9]:
print("Check null values")
print(train_df.isnull().sum())

Check null values
ID                                0
SELF-INDICATOR                    0
MATCH-TYPE                        0
ACCT-TYPE                         0
CONTRIBUTOR-TYPE                  0
DATE-REPORTED                  3677
OWNERSHIP-IND                     0
ACCOUNT-STATUS                    0
DISBURSED-DT                  31884
CLOSE-DT                     248648
LAST-PAYMENT-DATE            318244
CREDIT-LIMIT/SANC AMT        541877
DISBURSED-AMT/HIGH CREDIT         0
INSTALLMENT-AMT              418877
CURRENT-BAL                     232
INSTALLMENT-FREQUENCY        423491
OVERDUE-AMT                  118045
WRITE-OFF-AMT                 19075
ASSET_CLASS                  299466
REPORTED DATE - HIST          19075
DPD - HIST                    19529
CUR BAL - HIST                19075
AMT OVERDUE - HIST            19075
AMT PAID - HIST               20242
TENURE                       366621
Frequency                         0
InstlmentMode                     0
LoanStatus                        0
PaymentMode                       0
BranchID                          0
Area                          45147
Tenure                            0
AssetCost                         0
AmountFinance                     0
DisbursalAmount                   0
EMI                               0
DisbursalDate                     0
MaturityDAte                      2
AuthDate                          0
AssetID                           0
ManufacturerID                    0
SupplierID                        0
LTV                               0
SEX                            1604
AGE                            1604
MonthlyIncome                  1941
City                          47262
State                             0
ZiPCODE                        1647
Top-up Month                      0
dtype: int64

In [10]:
print("Check  percentage of null values in each column")
print(train_df.isnull().sum()/train_df.shape[0])

Check  percentage of null values in each column
ID                           0.000000
SELF-INDICATOR               0.000000
MATCH-TYPE                   0.000000
ACCT-TYPE                    0.000000
CONTRIBUTOR-TYPE             0.000000
DATE-REPORTED                0.006602
OWNERSHIP-IND                0.000000
ACCOUNT-STATUS               0.000000
DISBURSED-DT                 0.057244
CLOSE-DT                     0.446422
LAST-PAYMENT-DATE            0.571374
CREDIT-LIMIT/SANC AMT        0.972884
DISBURSED-AMT/HIGH CREDIT    0.000000
INSTALLMENT-AMT              0.752050
CURRENT-BAL                  0.000417
INSTALLMENT-FREQUENCY        0.760334
OVERDUE-AMT                  0.211938
WRITE-OFF-AMT                0.034247
ASSET_CLASS                  0.537660
REPORTED DATE - HIST         0.034247
DPD - HIST                   0.035062
CUR BAL - HIST               0.034247
AMT OVERDUE - HIST           0.034247
AMT PAID - HIST              0.036342
TENURE                       0.658230
Frequency                    0.000000
InstlmentMode                0.000000
LoanStatus                   0.000000
PaymentMode                  0.000000
BranchID                     0.000000
Area                         0.081057
Tenure                       0.000000
AssetCost                    0.000000
AmountFinance                0.000000
DisbursalAmount              0.000000
EMI                          0.000000
DisbursalDate                0.000000
MaturityDAte                 0.000004
AuthDate                     0.000000
AssetID                      0.000000
ManufacturerID               0.000000
SupplierID                   0.000000
LTV                          0.000000
SEX                          0.002880
AGE                          0.002880
MonthlyIncome                0.003485
City                         0.084854
State                        0.000000
ZiPCODE                      0.002957
Top-up Month                 0.000000
dtype: float64

In [11]:
print("Keep columns with missing values less than 50%")
train_df = train_df[train_df.columns[train_df.isnull().mean() < 0.5]]

Keep columns with missing values less than 50%

In [12]:
print("Check columns after removing columns with more than 50% of missing values")
print(train_df.shape)

print(train_df.isnull().sum())

Check columns after removing columns with more than 50% of missing values
(556980, 44)
ID                                0
SELF-INDICATOR                    0
MATCH-TYPE                        0
ACCT-TYPE                         0
CONTRIBUTOR-TYPE                  0
DATE-REPORTED                  3677
OWNERSHIP-IND                     0
ACCOUNT-STATUS                    0
DISBURSED-DT                  31884
CLOSE-DT                     248648
DISBURSED-AMT/HIGH CREDIT         0
CURRENT-BAL                     232
OVERDUE-AMT                  118045
WRITE-OFF-AMT                 19075
REPORTED DATE - HIST          19075
DPD - HIST                    19529
CUR BAL - HIST                19075
AMT OVERDUE - HIST            19075
AMT PAID - HIST               20242
Frequency                         0
InstlmentMode                     0
LoanStatus                        0
PaymentMode                       0
BranchID                          0
Area                          45147
Tenure                            0
AssetCost                         0
AmountFinance                     0
DisbursalAmount                   0
EMI                               0
DisbursalDate                     0
MaturityDAte                      2
AuthDate                          0
AssetID                           0
ManufacturerID                    0
SupplierID                        0
LTV                               0
SEX                            1604
AGE                            1604
MonthlyIncome                  1941
City                          47262
State                             0
ZiPCODE                        1647
Top-up Month                      0
dtype: int64

In [13]:
print(train_df.dtypes)

ID                             int64
SELF-INDICATOR                  bool
MATCH-TYPE                    object
ACCT-TYPE                     object
CONTRIBUTOR-TYPE              object
DATE-REPORTED                 object
OWNERSHIP-IND                 object
ACCOUNT-STATUS                object
DISBURSED-DT                  object
CLOSE-DT                      object
DISBURSED-AMT/HIGH CREDIT     object
CURRENT-BAL                   object
OVERDUE-AMT                   object
WRITE-OFF-AMT                float64
REPORTED DATE - HIST          object
DPD - HIST                    object
CUR BAL - HIST                object
AMT OVERDUE - HIST            object
AMT PAID - HIST               object
Frequency                     object
InstlmentMode                 object
LoanStatus                    object
PaymentMode                   object
BranchID                       int64
Area                          object
Tenure                         int64
AssetCost                      int64
AmountFinance                float64
DisbursalAmount              float64
EMI                          float64
DisbursalDate                 object
MaturityDAte                  object
AuthDate                      object
AssetID                        int64
ManufacturerID                 int64
SupplierID                     int64
LTV                          float64
SEX                           object
AGE                          float64
MonthlyIncome                float64
City                          object
State                         object
ZiPCODE                      float64
Top-up Month                  object
dtype: object

In [14]:
print("Categorical variables")
categorical = train_df.select_dtypes(include=['object'])
print("Number of categorical columns",len(categorical.columns))
print("Columns are \n",categorical.columns)

for col in categorical:
    train_df[col] = train_df[col].fillna(train_df[col].mode()[0])

Categorical variables
Number of categorical columns 28
Columns are
 Index(['MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE', 'DATE-REPORTED',
       'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT', 'CLOSE-DT',
       'DISBURSED-AMT/HIGH CREDIT', 'CURRENT-BAL', 'OVERDUE-AMT',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'Frequency', 'InstlmentMode',
       'LoanStatus', 'PaymentMode', 'Area', 'DisbursalDate', 'MaturityDAte',
       'AuthDate', 'SEX', 'City', 'State', 'Top-up Month'],
      dtype='object')

In [15]:
print("Numerical variables")
numerical = train_df.select_dtypes(include=['int64','float64'])
print("Number of numeric columns", len(numerical.columns))
print("Columns are \n",numerical.columns)

for col in numerical:
    train_df[col] = train_df[col].fillna((train_df[col].mean()))

Numerical variables
Number of numeric columns 15
Columns are
 Index(['ID', 'WRITE-OFF-AMT', 'BranchID', 'Tenure', 'AssetCost',
       'AmountFinance', 'DisbursalAmount', 'EMI', 'AssetID', 'ManufacturerID',
       'SupplierID', 'LTV', 'AGE', 'MonthlyIncome', 'ZiPCODE'],
      dtype='object')

In [16]:
print("Boolean variables")
boolean = train_df.select_dtypes(include=['bool'])
print("Number of boolean columns", len(boolean.columns))
print("Columns are \n",boolean.columns)

for col in boolean:
    train_df[col] = train_df[col].fillna(train_df[col].mode()[0])

Boolean variables
Number of boolean columns 1
Columns are
 Index(['SELF-INDICATOR'], dtype='object')

In [17]:
print("Time Stamp based variables")
date_time = train_df.select_dtypes(include=['datetime64[ns]'])
print("Number of time based columns", len(date_time.columns))
print("Columns are \n",date_time.columns)
for col in date_time:
    train_df[col] = train_df[col].fillna(train_df[col].mode()[0])

Time Stamp based variables
Number of time based columns 0
Columns are
 Index([], dtype='object')

In [18]:
print(train_df.isnull().sum())
print("Check Target Class Distribution")
print(train_df['Top-up Month'].value_counts())

ID                           0
SELF-INDICATOR               0
MATCH-TYPE                   0
ACCT-TYPE                    0
CONTRIBUTOR-TYPE             0
DATE-REPORTED                0
OWNERSHIP-IND                0
ACCOUNT-STATUS               0
DISBURSED-DT                 0
CLOSE-DT                     0
DISBURSED-AMT/HIGH CREDIT    0
CURRENT-BAL                  0
OVERDUE-AMT                  0
WRITE-OFF-AMT                0
REPORTED DATE - HIST         0
DPD - HIST                   0
CUR BAL - HIST               0
AMT OVERDUE - HIST           0
AMT PAID - HIST              0
Frequency                    0
InstlmentMode                0
LoanStatus                   0
PaymentMode                  0
BranchID                     0
Area                         0
Tenure                       0
AssetCost                    0
AmountFinance                0
DisbursalAmount              0
EMI                          0
DisbursalDate                0
MaturityDAte                 0
AuthDate                     0
AssetID                      0
ManufacturerID               0
SupplierID                   0
LTV                          0
SEX                          0
AGE                          0
MonthlyIncome                0
City                         0
State                        0
ZiPCODE                      0
Top-up Month                 0
dtype: int64
Check Target Class Distribution
No Top-up Service    382926
 > 48 Months          79641
36-48 Months          26221
24-30 Months          22377
30-36 Months          18972
18-24 Months          17692
12-18 Months           9151
Name: Top-up Month, dtype: int64

In [19]:
for col in categorical:
    print("Unique values for col",col)
    print("Number of Unique Values",train_df[col].nunique())
    print(train_df[col].value_counts())

# # Analyse Columns.
# # Merge Columns.
# new_df = pd.concat([boolean,categorical],axis=1)
# print(new_df.shape)

Unique values for col MATCH-TYPE
Number of Unique Values 2
PRIMARY      556783
SECONDARY       197
Name: MATCH-TYPE, dtype: int64
Unique values for col ACCT-TYPE
Number of Unique Values 50
Tractor Loan                                                           186117
Gold Loan                                                               90817
Business Loan Priority Sector  Agriculture                              79918
Kisan Credit Card                                                       33340
Auto Loan (Personal)                                                    29518
Other                                                                   25513
Commercial Vehicle Loan                                                 18731
Two-Wheeler Loan                                                        15795
Credit Card                                                             12406
Consumer Loan                                                           12035
Overdraft                                                                8926
Personal Loan                                                            8621
Housing Loan                                                             5400
Construction Equipment Loan                                              4553
JLG Individual                                                           4191
Business Loan General                                                    3986
Loan Against Bank Deposits                                               3803
Used Car Loan                                                            2601
Business Loan Priority Sector  Small Business                            1970
Loan Against Shares / Securities                                         1550
Property Loan                                                            1327
Business Loan Priority Sector  Others                                    1137
Mudra Loans   Shishu / Kishor / Tarun                                    1129
Business Non-Funded Credit Facility-Priority Sector-Agriculture           513
Education Loan                                                            448
Non-Funded Credit Facility                                                426
Business Loan - Secured                                                   348
Business Loan Against Bank Deposits                                       301
Individual                                                                296
Business Loan Unsecured                                                   224
Microfinance Business Loan                                                212
Loan to Professional                                                      182
Business Non-Funded Credit Facility-Priority Sector- Small Business       125
Microfinance Others                                                       123
Secured Credit Card                                                        83
Business Non-Funded Credit Facility General                                72
Prime Minister Jaan Dhan Yojana - Overdraft                                58
JLG Group                                                                  34
Pradhan Mantri Awas Yojana - CLSS                                          32
SHG Individual                                                             25
Microfinance Personal Loan                                                 25
Fleet Card                                                                 23
Commercial Equipment Loan                                                  14
Microfinance Housing Loan                                                  14
Corporate Credit Card                                                       5
Loan on Credit Card                                                         5
Business Non-Funded Credit Facility-Priority Sector-Others                  3
Leasing                                                                     3
SHG Group                                                                   1
Telco Landline                                                              1
Name: ACCT-TYPE, dtype: int64
Unique values for col CONTRIBUTOR-TYPE
Number of Unique Values 12
NBF    256397
NAB    173483
PRB     74571
RRB     23968
COP     20045
MFI      3360
HFC      2736
CCC      1469
FRB       754
SFB       187
ARC         7
OFI         3
Name: CONTRIBUTOR-TYPE, dtype: int64
Unique values for col DATE-REPORTED
Number of Unique Values 2652
2020-01-31 00:00:00    120510
2019-12-31 00:00:00     69390
2016-12-31 00:00:00     31702
2019-11-30 00:00:00     20385
2019-06-30 00:00:00     15682
                        ...
2015-01-16 00:00:00         1
2012-03-01 00:00:00         1
2014-02-02 00:00:00         1
2013-07-27 00:00:00         1
2020-01-19 00:00:00         1
Name: DATE-REPORTED, Length: 2652, dtype: int64
Unique values for col OWNERSHIP-IND
Number of Unique Values 5
Individual          480924
Joint                36850
Guarantor            34521
Primary               4547
Supl Card Holder       138
Name: OWNERSHIP-IND, dtype: int64
Unique values for col ACCOUNT-STATUS
Number of Unique Values 11
Closed                         319447
Active                         198897
Delinquent                      32410
Written Off                      2931
Suit Filed                       2062
Settled                           624
Restructured                      510
SUIT FILED (WILFUL DEFAULT)        70
WILFUL DEFAULT                     27
Cancelled                           1
Sold/Purchased                      1
Name: ACCOUNT-STATUS, dtype: int64
Unique values for col DISBURSED-DT
Number of Unique Values 6279
2017-10-31 00:00:00    33645
2017-06-30 00:00:00     1755
2017-05-31 00:00:00     1105
2018-03-31 00:00:00     1091
2017-03-31 00:00:00     1091
                       ...
1998-01-31 00:00:00        1
2005-05-04 00:00:00        1
2004-12-24 00:00:00        1
1997-05-28 00:00:00        1
2005-05-22 00:00:00        1
Name: DISBURSED-DT, Length: 6279, dtype: int64
Unique values for col CLOSE-DT
Number of Unique Values 4685
2019-06-01 00:00:00    249349
2017-07-31 00:00:00       684
2018-03-31 00:00:00       656
2018-01-31 00:00:00       622
2017-10-31 00:00:00       578
                        ...
2007-01-04 00:00:00         1
2006-02-09 00:00:00         1
2007-11-06 00:00:00         1
2006-06-10 00:00:00         1
2007-07-17 00:00:00         1
Name: CLOSE-DT, Length: 4685, dtype: int64
Unique values for col DISBURSED-AMT/HIGH CREDIT
Number of Unique Values 72426
0           29866
3,00,000    25118
2,00,000    15772
2,50,000    13081
4,00,000    13037
            ...
2,47,892        1
4,84,250        1
3,57,004        1
3,13,847        1
2,53,736        1
Name: DISBURSED-AMT/HIGH CREDIT, Length: 72426, dtype: int64
Unique values for col CURRENT-BAL
Number of Unique Values 147445
0           350588
2,50,000       760
1,00,000       422
3,00,000       389
50,000         353
             ...
71,967           1
6,741            1
10,860           1
1,22,379         1
8,33,360         1
Name: CURRENT-BAL, Length: 147445, dtype: int64
Unique values for col OVERDUE-AMT
Number of Unique Values 22385
0           523526
118            271
1              144
100             89
236             61
             ...
1,01,265         1
89,394           1
1,8,000          1
15,497           1
1,25,779         1
Name: OVERDUE-AMT, Length: 22385, dtype: int64
Unique values for col REPORTED DATE - HIST
Number of Unique Values 57846
20200131,20191231,20191130,20191031,20190930,20190831,20190731,20190630,20190531,20190430,20190331,20190228,20190131,20181231,20181130,20181031,20180930,20180831,20180731,20180630,20180531,20180430,20180331,20180228,20180131,20171231,20171130,20171031,20170930,20170831,20170731,20170630,20170531,20170430,20170331,20170228,    44422
20191231,20191130,20191031,20190930,20190831,20190731,20190630,20190531,20190430,20190331,20190228,20190131,20181231,20181130,20181031,20180930,20180831,20180731,20180630,20180531,20180430,20180331,20180228,20180131,20171231,20171130,20171031,20170930,20170831,20170731,20170630,20170531,20170430,20170331,20170228,20170131,     6600
20200131,20191231,20191130,20191031,20190930,20190831,20190731,20190630,20190531,20190430,20190331,20190228,20190131,20181231,20181130,20181031,20180930,20180831,20180731,20180630,20180531,20180430,20180331,20180228,20180131,20171231,20171130,20171031,20170930,20170831,20170731,20170630,                                         3480
20200131,20191231,20191130,20191031,20190930,20190831,20190731,20190630,20190531,20190430,20190331,20190228,20190131,20181231,20181130,20181031,20180930,20180831,20180731,20180630,20180531,20180430,20180331,20180228,20180131,20171231,20171130,20171031,                                                                             2923
20200131,                                                                                                                                                                                                                                                                                                                                2872
                                                                                                                                                                                                                                                                                                                                        ...
20160531,20160430,20160331,20160229,20160131,20151231,20151101,20151031,20150930,20150831,20150731,                                                                                                                                                                                                                                         1
20170502,20170401,20170331,20170228,20170131,20161231,20161130,20161031,20160901,20160831,20160730,20160630,20160501,20160401,20160301,20160201,20160130,20151231,20151130,20151031,20150930,20150831,20150731,20150630,20150530,20150430,20150331,20150228,20150101,20141231,20141129,20141031,20140930,20140830,20140731,20140630,        1
20180115,20180102,20171201,20171102,20171003,20170901,20170802,20170701,20170601,20170519,20170401,20170301,20170201,                                                                                                                                                                                                                       1
20181110,20181103,20181006,20180901,20180804,20180721,20180630,20180609,20180505,20180414,20180303,20180224,20180127,20171230,                                                                                                                                                                                                              1
20190131,20181201,20181130,20181031,20180930,20180831,20180731,20180630,20180531,20180430,20180331,20180228,20180131,20171231,20171130,20171031,20170930,20170831,20170731,20170630,20170531,20170430,20170331,20170228,20170131,20161231,                                                                                                  1
Name: REPORTED DATE - HIST, Length: 57846, dtype: int64
Unique values for col DPD - HIST
Number of Unique Values 134339

0                                                                                                               63177
XXX                                                                                                             38531
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000    22254
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX    10765
000                                                                                                              7330
                                                                                                                ...
XXXDDDDDDDDDDDDDDDDDDDDDDDDXXXXXXXXXXXXXXXXXX                                                                       1
DDD074043013000DDD000000                                                                                            1
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX089059XXXXXXXXX089089059XXXXXXXXXXXX061031001        1
000000207177146117086057026000000000000000000                                                                       1
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX059XXXXXXXXXXXXXXXXXX059XXX        1
Name: DPD - HIST, Length: 134339, dtype: int64
Unique values for col CUR BAL - HIST
Number of Unique Values 447072
,                                                                                                                                                                                                                                            50779
0,                                                                                                                                                                                                                                            8673
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,                                                                                                                                                                      2019
0,0,                                                                                                                                                                                                                                          1855
0,0,,,,,,,,,,,,,0,0,                                                                                                                                                                                                                           457
                                                                                                                                                                                                                                             ...
0,56777,56777,56777,56777,56777,56777,108643,108643,108643,108643,108643,108643,156011,156011,156011,156011,156011,156011,199285,199285,199285,199285,199285,199285,238793,238793,238793,238793,238793,238793,                                   1
1101083,,1205106,1256510,1306907,1356754,1390468,,1493157,1543565,1594940,1644407,1693416,1742494,1790595,1838803,1886014,1932788,1979723,2025630,2071733,2116789,2163373,2273489,2316201,2357443,,2446572,2401518,2401518,                      1
0,0,34748,34748,34748,67828,67828,67828,99320,99320,99320,129301,129301,129301,157843,157843,157843,185015,185015,185015,210883,210883,210883,235509,235509,235509,235509,258953,258953,258953,281272,281272,281272,302519,302519,325000,        1
166002,166002,166002,166002,166002,163601,160201,,108601,108601,108601,103982,103982,103982,103982,,103982,,100637,                                                                                                                              1
0,0,0,0,0,-732,38887,,38887,,78982,78982,118905,118905,,,,,0,196264,235764,235732,235732,235732,275136,275136,275136,314636,314636,314636,353472,353472,393472,393375,393375,393375,                                                             1
Name: CUR BAL - HIST, Length: 447072, dtype: int64
Unique values for col AMT OVERDUE - HIST
Number of Unique Values 187341
,                                                                                                              54227
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0                                        14297
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,                                                                           11101
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,                                       10245
0,                                                                                                              8822
                                                                                                               ...
1138,1138,1138,1138,,,,3368,3368,3368,648,648,648,648,648,,,,,,,,,,,,,,,,,,4380,4380,1775,1775,                    1
,,,,,,,,,156,156,156,,15461,9963,9963,12609,12609,12609,5462,5462                                                  1
0,858,9040,0,9402,0,8942,552,133,0,134,0,143,0,0,0,0,124,0,0,0,0,0,0,0,0,0                                         1
0,42500,42500,42500,42500,42500,42500,42500,42500,42500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0        1
43256,0,0,0,43843,0,43843,43843,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,,0,,,0,                               1
Name: AMT OVERDUE - HIST, Length: 187341, dtype: int64
Unique values for col AMT PAID - HIST
Number of Unique Values 83417
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,                                                                                                                                                                                                                                                  83405
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,                                                                                                                                                                                                                                                   44549
,                                                                                                                                                                                                                                                                                      41537
,,,,,,,,,,,,,,                                                                                                                                                                                                                                                                         13862
,,                                                                                                                                                                                                                                                                                     11236
                                                                                                                                                                                                                                                                                       ...
150582,597,,157000,,3687,,,,,,,,213000,,,155000,,1935,,,,,,,173000,,,158000,,4372,,,,,121000,                                                                                                                                                                                              1
33099,0,0,0,                                                                                                                                                                                                                                                                               1
190030,1103211,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,0,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,1099630,0,1100263,        1
112400,3100,65000,3100,2000,3100,2000,2000,0,                                                                                                                                                                                                                                              1
0,0,0,0,0,0,77000,0,0,0,0,0,0,0,0,0,0,0,0,                                                                                                                                                                                                                                                 1
Name: AMT PAID - HIST, Length: 83417, dtype: int64
Unique values for col Frequency
Number of Unique Values 4
Half Yearly    344994
Monthly        139863
Quatrly         70980
BI-Monthly       1143
Name: Frequency, dtype: int64
Unique values for col InstlmentMode
Number of Unique Values 2
Arrear     528279
Advance     28701
Name: InstlmentMode, dtype: int64
Unique values for col LoanStatus

Number of Unique Values 2
Closed    432200
Active    124780
Name: LoanStatus, dtype: int64
Unique values for col PaymentMode
Number of Unique Values 11
ECS             144740
Direct Debit    125654
PDC             116661
Billed          116335
PDC_E            43367
SI Reject         3466
Auto Debit        3449
ECS Reject        1968
Cheque            1316
Escrow              14
PDC Reject          10
Name: PaymentMode, dtype: int64
Unique values for col Area
Number of Unique Values 92
NELLORE           95959
VIJAYAWADA        30799
SIRSA             24718
MIRYALGUDA        23604
SINDHANUR         20756
                  ...
MANDLA               32
GUWAHATI             21
GANGAPUR CITY         8
NAGAUR                6
UTTAR DINAJPUR        3
Name: Area, Length: 92, dtype: int64
Unique values for col DisbursalDate
Number of Unique Values 2837
2017-10-31 00:00:00    5374
2017-06-30 00:00:00    4152
2017-09-30 00:00:00    3090
2017-11-30 00:00:00    2733
2016-10-31 00:00:00    2674
                       ...
2015-02-02 00:00:00       1
2019-09-27 00:00:00       1
2016-12-06 00:00:00       1
2010-08-01 00:00:00       1
2010-08-14 00:00:00       1
Name: DisbursalDate, Length: 2837, dtype: int64
Unique values for col MaturityDAte
Number of Unique Values 980
2017-12-10 00:00:00    9557
2017-06-10 00:00:00    9495
2018-06-10 00:00:00    9426
2019-06-10 00:00:00    8680
2021-06-10 00:00:00    8633
                       ...
2013-04-24 00:00:00       1
2012-05-09 00:00:00       1
2015-02-04 00:00:00       1
2014-02-04 00:00:00       1
2030-02-10 00:00:00       1
Name: MaturityDAte, Length: 980, dtype: int64
Unique values for col AuthDate
Number of Unique Values 2711
2017-10-31 00:00:00    5439
2017-06-30 00:00:00    4166
2017-09-30 00:00:00    3110
2017-11-30 00:00:00    2756
2016-10-31 00:00:00    2692
                       ...
2018-08-02 00:00:00       1
2015-12-05 00:00:00       1
2019-07-24 00:00:00       1
2011-04-05 00:00:00       1
2019-07-22 00:00:00       1
Name: AuthDate, Length: 2711, dtype: int64
Unique values for col SEX
Number of Unique Values 2
M    533404
F     23576
Name: SEX, dtype: int64
Unique values for col City
Number of Unique Values 488
GUNTUR           63964
NELLORE          14803
NALGONDA         13230
PRAKASAM         10611
KARIMNAGAR        8995
                 ...
DARRANG              1
RUDRAPRAYAG          1
NALBARI              1
MUZAFFARNAGAR        1
CHATRA               1
Name: City, Length: 488, dtype: int64
Unique values for col State
Number of Unique Values 22
ANDHRA PRADESH            140514
MADHYA PRADESH             73971
KARNATAKA                  59787
GUJARAT                    43045
RAJASTHAN                  37130
HARYANA                    34993
PUNJAB                     32842
MAHARASHTRA                32534
UTTAR PRADESH              31467
WEST BENGAL                18435
TELANGANA                  15874
CHATTISGARH                15651
ORISSA                     11767
BIHAR                       8501
HIMACHAL PRADESH             284
DELHI                         53
JHARKHAND                     52
UTTARAKHAND                   44
ASSAM                         21
CHANDIGARH                     6
TAMIL NADU                     5
DADRA AND NAGAR HAVELI         4
Name: State, dtype: int64
Unique values for col Top-up Month
Number of Unique Values 7
No Top-up Service    382926
 > 48 Months          79641
36-48 Months          26221
24-30 Months          22377
30-36 Months          18972
18-24 Months          17692
12-18 Months           9151
Name: Top-up Month, dtype: int64

In [20]:
# Label Encoding of categorical columns.
cols = ['MATCH-TYPE','ACCT-TYPE','CONTRIBUTOR-TYPE', 'OWNERSHIP-IND','ACCOUNT-STATUS','Frequency', 'InstlmentMode',
        'LoanStatus','PaymentMode', 'Area', 'SEX', 'City','State','SELF-INDICATOR','Top-up Month']

lb = LabelEncoder()
for col in cols:
    train_df[col] = lb.fit_transform(train_df[col])

train_df = train_df.replace(',','', regex=True)

In [21]:
print(train_df.columns)
X = train_df[['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'OWNERSHIP-IND', 'ACCOUNT-STATUS',
        'DISBURSED-AMT/HIGH CREDIT', 'CURRENT-BAL', 'OVERDUE-AMT',
       'WRITE-OFF-AMT','Frequency', 'InstlmentMode',
       'LoanStatus', 'PaymentMode', 'BranchID', 'Area', 'Tenure', 'AssetCost',
       'AmountFinance', 'DisbursalAmount', 'EMI','AssetID', 'ManufacturerID', 'SupplierID',
       'LTV', 'SEX', 'AGE', 'MonthlyIncome', 'City', 'State', 'ZiPCODE',
       'Top-up Month']]

#  'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
#        'AMT OVERDUE - HIST', 'AMT PAID - HIST',  'DisbursalDate', 'MaturityDAte', 'AuthDate', 

Y = train_df['Top-up Month']

X_train,X_test,y_train,y_test = train_test_split(X,Y,stratify = Y,test_size=0.2,random_state = 101)

Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'DISBURSED-AMT/HIGH CREDIT', 'CURRENT-BAL', 'OVERDUE-AMT',
       'WRITE-OFF-AMT', 'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'Frequency', 'InstlmentMode',
       'LoanStatus', 'PaymentMode', 'BranchID', 'Area', 'Tenure', 'AssetCost',
       'AmountFinance', 'DisbursalAmount', 'EMI', 'DisbursalDate',
       'MaturityDAte', 'AuthDate', 'AssetID', 'ManufacturerID', 'SupplierID',
       'LTV', 'SEX', 'AGE', 'MonthlyIncome', 'City', 'State', 'ZiPCODE',
       'Top-up Month'],
      dtype='object')

In [22]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [23]:
from sklearn.metrics import f1_score
# classifier_o = AdaBoostClassifier(random_state=20)  #
# classifier_o.fit(X_train,y_train)
# pred = classifier_o.predict(X_test)
# print(f1_score(y_test,pred,average='macro'))

In [24]:
classifier_o = LGBMClassifier(random_state=20)  #
classifier_o.fit(X_train,y_train)
pred = classifier_o.predict(X_test)
print(f1_score(y_test,pred,average='macro'))

1.0

In [25]:
# classifier_o = GradientBoostingClassifier(random_state=20)  #
# classifier_o.fit(X_train,y_train)
# pred = classifier_o.predict(X_test)
# print(f1_score(y_test,pred,average='macro'))

In [26]:
classifier_o = RandomForestClassifier(random_state=20)  #
classifier_o.fit(X_train,y_train)
pred = classifier_o.predict(X_test)
print(f1_score(y_test,pred,average='macro'))

0.999929074816781